body {
  background-color: grey;
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  padding: 10px;
  min-height: 465px;
  overflow-x: auto;
}

a:visited {
  text-decoration: none;
}
