@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');
// Quicksand - Light 300 and Medium 500
* {
  font-family: Quicksand;
  font-weight: 300;
}

body {
  background-color: grey;
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-top: 20px;
  overflow-x: auto;
  overflow: visible;
  min-height: 465px;
}

a:visited {
  text-decoration: none;
}
