.hover-tip {
  position: relative;
  margin: 0;
  left: 40px;
  top: 30px;
  width: fit-content;
  cursor: pointer;
}

.menu {
  background-color: rgb(198, 198, 198);
  border-radius: 30px;
  margin: 0 auto;
  width: fit-content;
  ul {
    padding-inline-start: 0px;
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 10px 30px;

    .vertical-divider {
      width: 1px;
      background-color: black;
    }

    li {
      padding: 0 20px;

      a {
        height: 100%;
        display: flex;
        align-items: center;
        color: #3c3c3c;
      }
    }
  }
}
