.sequencer {
  margin: 0 auto;
  min-width: 1180px;
  position: relative;
  margin: 0 auto;
  .sequence-controls {
    width: 350px;
    right: 25px;
    top: 5px;
    display: flex;
    position: absolute;
    justify-content: space-around;
    align-items: center;
    > svg {
      cursor: pointer;
    }
    div {
      align-items: center;
      cursor: default;
      display: flex;
      input {
        position: relative;
        bottom: 2px;
        border-radius: 5px;
        border: none;
        padding: 5px;
        margin-right: 10px;
        background-color: #f1f1f1;
      }
    }
  }
  .select-container {
    align-items: center;
    display: flex;
  }
  .audio-nodes {
    display: flex;
    align-items: center;
    .audio-node {
      cursor: pointer;
      min-height: 60px;
      min-width: 60px;
      margin: 5px;
      background-color: rgb(198, 198, 198);
      border-radius: 5px;
      transition: background-color 0.8s linear;
    }

    .active {
      background-color: rgb(58, 217, 127) !important;
    }

    .on-beat {
      background-color: rgb(102, 170, 255) !important;
    }
  }
}
