.button-container {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 100px 100px;
  grid-gap: 20px;
  justify-content: center;
}

.mpc-button {
  height: 100px;
  width: 100%;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}
