.sequencer {
  margin: 0 auto;
  width: fit-content;
  .sequence-controls {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 100px;
    > svg {
      cursor: pointer;
    }
    span {
      cursor: default;
      padding-top: 5px;
      input {
        position: relative;
        bottom: 2px;
        border-radius: 5px;
        border: none;
        padding: 5px;
        background-color: #f1f1f1;
      }
    }
  }
  .select-container {
    align-items: center;
    display: flex;
  }
  .audio-nodes {
    display: flex;
    align-items: center;
    .audio-node {
      min-height: 60px;
      width: 60px;
      margin: 5px;
      background-color: rgb(198, 198, 198);
      border-radius: 5px;
    }
  }
}

